!! Colorscheme

! special
*.foreground: #efc7a9
*.background: #1a1a1a
*.cursorColor: #efc7a9

! black
*.color0: #141414
*.color8: #1f1f1f

! red
*.color1: #a01821
*.color9: #df2a36

! green
*.color2: #6f851e
*.color10: #7a902b

! yellow
*.color3: #c5921b
*.color11: #cd9c29

! blue
*.color4: #287ab8
*.color12: #3d83ba

! magenta
*.color5: #7c3db8
*.color13: #814bb3

! cyan
*.color6: #37a991
*.color14: #42b39a

! white
*.color7: #f8e9dd
*.color15: #ecbc98

*.cursorBlick: false

!! URxvt Appearance
URxvt.font: xft:Iosevka Term Extended:style=Regular:size=8
URxvt.boldFont: xft:Iosevka Term Extended:style=Bold:size=8
URxvt.italicFont: xft:Iosevka Term Extended:style=Italic:size=8
URxvt.boldItalicFont: xft:Iosevka Term Extended:style=Bold Italic:size=8
URxvt.internalBorder: 10
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
!URxvt.urgentOnBell: true
URxvt.background: [80]#141414
URxvt.depth: 32
URxvt.iso14755: false

URxvt.url-launcher: firefox
URxvt.matcher.button: 1

polybar.background: #cd1a1a1a
polybar.height: 24pt
